<span>
  <a routerLink="/dashboard" routerLinkActive="active">
    <div class="nav-button">
      <button mat-button color="primary" class="flex-box">
        <mat-icon>dashboard</mat-icon>
        <p>Dashboard</p>
      </button>
    </div>
  </a>
</span>
<span>
  <a routerLink="/login">
    <div class="nav-button">
      <button mat-button color="primary" class="flex-box" (click)="authService.deauthenticate()">
          <mat-icon>logout</mat-icon>
          <p>Logout</p>
        </button>
      </div>
   </a>
</span>
