<div>
  <mat-card>
    <mat-card-header>
      <span *ngIf="localContent.id; else prompt">
        <mat-card-title>
          Currently Editing: {{localContent.name}}
        </mat-card-title>
      </span>
      <ng-template #prompt>
        <mat-card-title>
          {{title}}
        </mat-card-title>
      </ng-template>
    </mat-card-header>
    <form [formGroup]="reactiveForm" (ngSubmit)="onContentSave.emit(localContent)">
      <mat-card-content>
        <mat-form-field>
          <input matInput type="text" formControlName="name" placeholder="Name"/>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" formControlName="quantity" placeholder="Quantity"/>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Category</mat-label>
          <select matNativeControl formControlName="category" placeholder="Category">
            <option value="" selected></option>
            @for (category of categories; track category) {-->
              <option [value]="category">{{category}}</option>
            }
          </select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Receive Date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="receiveDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <section>
          <mat-checkbox formControlName="hasExpiration">
            Has Expiration Date?
          </mat-checkbox>
        </section>

        <mat-form-field *ngIf="reactiveForm.get('hasExpiration')?.value">
          <mat-label>Expiration Date</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="expirationDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
          <div
            *ngIf="reactiveForm.errors?.['futureError'] && (reactiveForm.touched || reactiveForm.dirty)">
            <mat-error>Expiration before Receive Date!</mat-error>
          </div>
          <div
            *ngIf="reactiveForm.errors?.['missingExpiration'] && (reactiveForm.touched || reactiveForm.dirty)">
            <mat-error>Expiration Required!</mat-error>
          </div>
        </mat-form-field>

<!--    KEEPING THE OLD FORM AS DOCUMENTATION    -->
<!--    <form #form="ngForm" (ngSubmit)="onContentSave.emit(localContent)">-->
<!--      <mat-card-content>-->

<!--        <mat-form-field>-->
<!--          <input matInput name="name" required minlength="1" type="text"-->
<!--                 [(ngModel)]="localContent.name" placeholder="Name"/>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field>-->
<!--          <input matInput name="quantity" required min="0" type="number"-->
<!--                 [(ngModel)]="localContent.quantity" placeholder="Quantity"/>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field>-->
<!--          <mat-label>Category</mat-label>-->
<!--            <select matNativeControl required [(ngModel)]="localContent.category" name="category">-->
<!--              <option value="" selected></option>-->
<!--              @for (category of categories; track category) {-->
<!--                <option [value]="category">{{category}}</option>-->
<!--              }-->
<!--            </select>-->
<!--        </mat-form-field>-->

<!--        <mat-form-field>-->
<!--          <mat-label>Receive Date</mat-label>-->
<!--          <input matInput required [matDatepicker]="picker"-->
<!--                 name="receiveDate" [(ngModel)]="localContent.receiveDate">-->
<!--          <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker></mat-datepicker>-->
<!--        </mat-form-field>-->

<!--        <section>-->
<!--          <mat-checkbox required [(ngModel)]="localContent.hasExpiration" name="hasExpiration">-->
<!--            Has Expiration Date?-->
<!--          </mat-checkbox>-->
<!--        </section>-->

<!--        <mat-form-field *ngIf="localContent.hasExpiration">-->
<!--          <mat-label>Expiration Date</mat-label>-->
<!--          <input matInput [min]="localContent.receiveDate" [matDatepicker]="picker2"-->
<!--                 name="expirationDate" [(ngModel)]="localContent.expirationDate">-->
<!--          <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--          <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>-->
<!--          <mat-datepicker #picker2></mat-datepicker>-->
<!--        </mat-form-field>-->

      </mat-card-content>
      <mat-card-actions>
        <button type="submit" [disabled]="reactiveForm.invalid" mat-button color="accent">
          {{ localContent.id ? 'Save' : 'Create' }}
        </button>
        <button type="button" mat-button (click)="onCancel.emit()">Cancel</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
