<div *ngIf="authService.isUserAuthenticated(); else unauthorized">
  <div class="content-containers">
    <app-list class="content-list"
              [contentList]="contentService.getAllContent()"
              (onContentSelected)="contentService.selectContent($event)"
              (onContentDelete)="contentService.deleteContent($event)">
    </app-list>
    <app-detail class="content-details"
                [selectedContent]="contentService.getSelectedContent()"
                (onContentSave)="contentService.updateContent($event)"
                (onCancel)="contentService.resetSelectedContent()">
    </app-detail>
  </div>
</div>
<!--Should never reach here due to the route guard-->
<ng-template #unauthorized>
  <app-unauthorized></app-unauthorized>
</ng-template>
